/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
  --primary-font: 'Roboto+Condensed', sans-serif;
  --secondary-font: 'Inter', cursive;
  --primary-color: green;
  --secondary-color: black;
  --highlight-color: white;
}

/* Global styles */

  body {
    font-family: var(--primary-font);
  }
  
  h1,
  h2,
  h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-transform: uppercase;
  }

   h1, 
   h2 {
    margin-bottom: 2rem;
  }

  .green-text {
    color: var(--primary-color);
  }

  .subheading-color {
    color: var(--primary-color);
  }

  .section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* Buttons */

.custom-button-filled {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: green;
}

.custom-button-filled:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: green;
}

.custom-button-outline {
  border: 3px solid var(--highlight-color);
  padding: 7px 25px;
  color: green;
}

.custom-button-outline:hover {
  background-color: var(--highlight-color);
  color: green;
}

  /* Navbar */

  #navbar {
    background-color: var(--primary-color);
  }

  #navbar .logo {
    width: 30px;
  }

  /* Header */

  #header .lead {
    font-family: var(--primary-font);
  }

  /* Services */

  #services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
} 

  #services .card {
    margin-bottom: 1.5rem;
  }

  /* Footer / contact */

#contact {
  background-color: var(--primary-color);
  color: white;
  padding-bottom: 3rem;
}

#contact h2, h3 {
  color: white
}

#contact i{
  color: white;
  font-size: 1.2rem;
  margin-right: 15px;
}

#contract .social-links i {
  color: var(--highlight-color);
  font-size: 1.9rem;
}

#contact .table-dark * {
  background-color: transparent;
}

 /* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: grey;
} */

.carousel-item img {
  width: 100%;
  height: 500px; /* Adjust the height as needed */
  object-fit: cover; /* This ensures the image covers the entire area without distortion */
}

/* Ensure all card images are the same size */
.card-img-top {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
}

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: 191px;
  }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: auto;
  }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* make all service cards the same height for consistency */
  #services .card-body {
      min-height: 220px;
  }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  /* make all service cards the same height for consistency */
  #services .card-body {
      min-height: 195px;
  }
}